In [2]:
i=1           #initialization
while i<=5:    #test i<=5 or not
    print(i)   #code to be executed
    i+=1        #update

1
2
3
4
5

In [7]:
#print table of 15 
n=15
for i in range(1,11):
	print(n,"*",i,"=",n*i)

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [8]:
#1.	Looping Through a String 
names = ["sakshi","ganesha"]
for i in names:
	print(i)

sakshi
ganesha

In [9]:
for char in "hello":
	print(char,end=" ")

h e l l o

In [10]:
#addition
l=[2,6,7,4,7,8,3]
sum=0
for i in l:
	sum+=i
print(sum)

37

In [11]:
#for loop using len function
s="sakshi"
for b in range(0,len(s)):
	print(s[b])

s
a
k
s
h
i

In [12]:
#find the square of first 10 no 
for i in range (1,11):
    print(f"{i}'s square is {i**2}")

1's square is 1
2's square is 4
3's square is 9
4's square is 16
5's square is 25
6's square is 36
7's square is 49
8's square is 64
9's square is 81
10's square is 100

In [15]:
for i in range (10):
    if i==5:
        break
    print(i)
    #this loop will print number from 0 to 4 and then stop

0
1
2
3
4

In [14]:
for i in range(1, 11):
    if i == 6:    #skip
        continue
    print(i, end=" ")

1 2 3 4 5 7 8 9 10

In [16]:
for i in range (10):
    if i%2==0:
        continue
    print(i,end=' ')

1 3 5 7 9

In [ ]:
seq1="spam"
seq2="scam"
for i in seq1:
    if i in seq2:
        new1.append(i)

print(new1)